/* CSS стилі для вигляду */
body {
    font-family: "Comic Sans MS";
    margin: 0;
    padding: 0;
    background-image: url('https://static.wixstatic.com/media/aafcc4_88e3f58195dc4a2d8c0a9f9e26b18984~mv2.png/v1/fill/w_1264,h_713,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/Picsart_24-06-08_16-51-27-432.png');
}

header {
    background-color: #705d5d;
    color: #f1e9e9;
    padding: 10px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

nav {
    background-color: #eae3e3;
    padding: 10px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    background-color: #ddd;
}

main {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.add-category-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.add-category-form label,
.add-category-form input,
.add-category-form select,
.add-category-form button {
    margin-bottom: 10px;
    font-size: 16px;
}

.add-category-form input,
.add-category-form select {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    width: calc(20% - 22px);
}

.add-category-form button {
    padding: 10px 20px;
    background-color: #705d5d;
    color: #f1e9e9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-category-form button:hover {
    background-color: #856767;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: rgba(234, 227, 227, 0.5);
}

th {
    background-color: #705d5d;
    color: #fff;
}

.category-color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #333;
}

footer {
    background-color: #705d5d;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 90%;
    margin: 20px auto 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
