body {
    font-family: "Comic Sans MS";
    margin: 0;
    padding: 0;
    background-image: url('https://static.wixstatic.com/media/aafcc4_88e3f58195dc4a2d8c0a9f9e26b18984~mv2.png/v1/fill/w_1264,h_713,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/Picsart_24-06-08_16-51-27-432.png');
}
header {
    background-color: #705d5d;
    color: #f1e9e9;
    padding: 10px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
nav {
    background-color: #eae3e3;
    padding: 10px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}
nav a:hover {
    background-color: #ddd;
}
main {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.profile-picture {
    margin-top: 100px;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 50px;
    flex-shrink: 0;
}
.profile-picture img {
    width: 100%;
    height: auto;
}
.profile-info {
    flex: 1;
}
.profile-section, .logout-section {
    background-color: rgba(234, 227, 227, 0.5);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.file-input-container {
    margin-bottom: 10px;
}
.file-input-container label {
    display: block;
    margin-bottom: 5px;
}
.file-input-container input[type="file"] {
    padding: 10px;
    background-color: #eae3e3;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}
form {
    margin-bottom: 20px;
}
label, input[type="text"], input[type="submit"], p {
    display: block;
    margin-bottom: 10px;
}
input[type="text"] {
    width: 20%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #705d5d;
    color: #f1e9e9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #856767;
}
h2 {
    margin-top: 0;
}
footer {
    background-color: #705d5d;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 90%;
    margin: 20px auto 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
.logout-section .forms-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
